

.mainbox {
    box-shadow: 0 8px 24px rgba(0, 150, 255, 0.18), 0 1px 0 rgba(255, 255, 255, 0.6) ;
    transition: all 200ms;
}

.mainbox:hover{
    transform: translateY(-6px);
    box-shadow: 0 18px 40px rgba(0, 0, 0, 0.25);
}